<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>3T Carrier | Iniciar sesión</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/estilos.css') }}">
</head>

<body class="login-body">

    <div class="login-overlay"></div>

    <section class="login-hero">

        

            </div>
        </div>


        <div class="login-caja">

         <img
    src="{{ url_for('static', filename='css/IMG/logo-3t.png') }}"
    alt="Logo 3T Carrier"
    class="logo-login"
>

            <p class="subtitulo">
                Sistema Integral de Gestión Logística
            </p>

            <form action="/dashboard" method="get">

                <div class="campo">
                    <label for="usuario">Usuario</label>

                    <input
                        type="text"
                        id="usuario"
                        name="usuario"
                        placeholder="Ingresa tu usuario"
                        required
                    >
                </div>

                <div class="campo">
                    <label for="password">Contraseña</label>

                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Ingresa tu contraseña"
                        required
                    >
                </div>

                <button type="submit" class="boton-login">
                    Iniciar sesión →
                </button>

            </form>

            <div class="separador"></div>

            <p class="frase-login">
                Transporte que conecta tu mundo
            </p>

        </div>

    </section>

</body>
</html>